<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box on-sidebar m-3 m-md-0">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Registrarse</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    
                    <form class="form-horizontal m-t-20" [formGroup]="signup" (ngSubmit)="onsignup()">
                        
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="name" placeholder="Nombre Completo" [class.is-invalid]="invalidName">
                                <small *ngIf="invalidName" class="text-danger">Longitud mínima de 7 caracteres</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="email" placeholder="Email" [class.is-invalid]="invalidEmail">
                                <small *ngIf="invalidEmail" class="text-danger">Ingresa una dirección válida</small>

                            </div>
                        </div>
                        <div formGroupName="passwordGroup">
                            <div class="form-group row">
                                <div class="col-12 ">
                                    <input class="form-control" type="password" formControlName="password" placeholder="Contraseña" [ngClass]="{'is-invalid':invalidPassword}">
                                    <small class="text-danger" *ngIf="invalidPassword">Debe ser al menos de 6 caracteres</small>

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 ">
                                    <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirma Contraseña"  [ngClass]="{'is-invalid':signup.get('passwordGroup').errors || 
                                                                                                                                                ((signup.get('passwordGroup.confirmPassword').touched ||
                                                                                                                                                signup.get('passwordGroup.confirmPassword').dirty) &&
                                                                                                                                                !signup.get('passwordGroup.confirmPassword').valid
                                                                                                                                                )}">
                                    <small *ngIf="signup.get('passwordGroup').errors?.match" class="text-danger">
                                        Las contraseñas no coinciden.
                                    </small>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="position" placeholder="Cargo" [class.is-invalid]="invalidPosition">
                                <small *ngIf="invalidPosition" class="text-danger">Este campo es requerido</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input"
                                                    type="radio"
                                                    value="colaborador"
                                                    formControlName="role">Soy Colaborador
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input"
                                                    type="radio"
                                                    value="coordinador"
                                                    formControlName="role">Soy Coordinador
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{isCoordinador}}
                        <div *ngIf="!isCoordinador" class="form-group">
                            <label>Mi Coordinador</label>
                            <select class="custom-select col-12" id="inlineFormCustomSelect" formControlName="managerId" [class.is-invalid]="invalidManagerSelected">
                                <option value="Elige a tu coordinador...">Elige a tu coordinador...</option>
                                <option *ngFor="let manager of managers" [ngValue]="manager.displayName">{{manager.displayName}}</option>    
                            </select>
                            <small *ngIf="invalidManagerSelected" class="text-danger">Código de coordinador incorrecto</small>
                        </div>
                        <div *ngIf="isCoordinador" class="form-group row animated fadeInDown">
                            <div class="col-12 ">
                                <input class="form-control" type="text" formControlName="specialCode" placeholder="Código de coordinador" [class.is-invalid]="invalidSpecialCode">
                                <small *ngIf="invalidSpecialCode" class="text-danger">Código de coordinador incorrecto</small>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button class="btn btn-block btn-lg btn-info" type="submit">Registrarme</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                ¿Ya tienes una cuenta? <a routerLink="/login" class="text-info m-l-5 "><b>Ingresar</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>