<div class="row">
    <div class="col-md-12">
        <!--- Complete Table -->
        <div class="card">
            <div class="card-body"> 
            <table class="table table-striped border mt-4">
                <thead>
                    <tr>
                        <!-- <th >ID</th> -->
                        <th sortable="Name" (sort)="onSort($event)">Colaborador</th>
                        <th sortable="Position" (sort)="onSort($event)">Cargo</th>
                        <th sortable="Email" (sort)="onSort($event)">Email</th>
                        <!-- <th >Q1</th>
                        <th >Q2</th>
                        <th >Q3</th>
                        <th >Q4</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of cfilterClient | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize">
                        <!-- <td>{{ client.Id }}</td> -->
                        <td>
                            <img [src]='client.photoURL?client.photoURL:"./assets/images/users/default_user.png"'class="mr-2 rounded-circle" style="width: 30px">
                            <ngb-highlight [result]="client.displayName" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.position" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.email" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <!-- <td>
                            <ngb-highlight [result]="client.Q1" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.Q2" [term]="csearchTerm"></ngb-highlight>
                        </td><td>
                            <ngb-highlight [result]="client.Q3" [term]="csearchTerm"></ngb-highlight>
                        </td><td>
                            <ngb-highlight [result]="client.Q4" [term]="csearchTerm"></ngb-highlight>
                        </td> -->
                        <td>
                           <i class="ti-pencil text-center text-info m-r-10 pointer" routerLink='/home/colaboradores/{{client.id}}'></i>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">    
                <ngb-pagination [(page)]="cpage"
                [pageSize]="cpageSize"
                [collectionSize]="totalLengthOfCollection"></ngb-pagination>
                <select class="custom-select" style="width: auto" [(ngModel)]="cpageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
            </div>
            </div>
        </div>

</div>
</div>
<!--- Modal for complete Table -->